
<form class="ui large form segment">
	<h3 class="ui header">Add a Link</h3>
	<div class="field">
		<label for="title">Title:</label>
		<input class="inputElems" name="title" #newTitle>
	</div>
	<div class="field">
		<label for="link">Link:</label>
		<input class="inputElems" name="link" #newLink>
	</div>

	<!-- added this button -->
	<button (click)="addArticle(newTitle, newLink)"
		class="ui positive right floated button">
		Submit link
	</button>

</form>

<div class="ui grid posts">
	<article
*ngFor="let a of articles"
[article]="a">
</article>
	
</div>
